{% extends 'ag_menu.html.twig' %}

{% block menu %}

<li class="treeview {% if option is defined and (option == 'Session_list' or option == 'Session_create' or option == 'Session_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Session</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'Session_list' %}class="active"{% endif %}><a href="{{ path('Session_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'Session_create' %}class="active"{% endif %}><a href="{{ path('Session_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'authors_list' or option == 'authors_create' or option == 'authors_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>authors</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'authors_list' %}class="active"{% endif %}><a href="{{ path('authors_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'authors_create' %}class="active"{% endif %}><a href="{{ path('authors_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'bookreqs_list' or option == 'bookreqs_create' or option == 'bookreqs_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>bookreqs</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'bookreqs_list' %}class="active"{% endif %}><a href="{{ path('bookreqs_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'bookreqs_create' %}class="active"{% endif %}><a href="{{ path('bookreqs_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'books_list' or option == 'books_create' or option == 'books_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>books</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'books_list' %}class="active"{% endif %}><a href="{{ path('books_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'books_create' %}class="active"{% endif %}><a href="{{ path('books_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'categorys_list' or option == 'categorys_create' or option == 'categorys_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>categorys</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'categorys_list' %}class="active"{% endif %}><a href="{{ path('categorys_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'categorys_create' %}class="active"{% endif %}><a href="{{ path('categorys_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'coupones_list' or option == 'coupones_create' or option == 'coupones_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>coupones</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'coupones_list' %}class="active"{% endif %}><a href="{{ path('coupones_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'coupones_create' %}class="active"{% endif %}><a href="{{ path('coupones_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'faqs_list' or option == 'faqs_create' or option == 'faqs_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>faqs</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'faqs_list' %}class="active"{% endif %}><a href="{{ path('faqs_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'faqs_create' %}class="active"{% endif %}><a href="{{ path('faqs_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'featuredbooks_list' or option == 'featuredbooks_create' or option == 'featuredbooks_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>featuredbooks</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'featuredbooks_list' %}class="active"{% endif %}><a href="{{ path('featuredbooks_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'featuredbooks_create' %}class="active"{% endif %}><a href="{{ path('featuredbooks_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'languages_list' or option == 'languages_create' or option == 'languages_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>languages</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'languages_list' %}class="active"{% endif %}><a href="{{ path('languages_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'languages_create' %}class="active"{% endif %}><a href="{{ path('languages_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'notifications_list' or option == 'notifications_create' or option == 'notifications_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>notifications</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'notifications_list' %}class="active"{% endif %}><a href="{{ path('notifications_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'notifications_create' %}class="active"{% endif %}><a href="{{ path('notifications_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'profile_list' or option == 'profile_create' or option == 'profile_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>profile</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'profile_list' %}class="active"{% endif %}><a href="{{ path('profile_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'profile_create' %}class="active"{% endif %}><a href="{{ path('profile_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'shippinhadds_list' or option == 'shippinhadds_create' or option == 'shippinhadds_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>shippinhadds</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'shippinhadds_list' %}class="active"{% endif %}><a href="{{ path('shippinhadds_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'shippinhadds_create' %}class="active"{% endif %}><a href="{{ path('shippinhadds_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'users_list' or option == 'users_create' or option == 'users_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>users</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'users_list' %}class="active"{% endif %}><a href="{{ path('users_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'users_create' %}class="active"{% endif %}><a href="{{ path('users_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>



{% endblock %}